{% extends "_templates/base.html" %}
{% block content %}
    <h1>Welcome to the <em>Directories</em> Example Site</h1>
    <p>This example is idential to the <em>Simplest</em> example, but uses a slightly more complex directory structure, with templates and partials in "_templates" and "_partials" directories.</p>
    <pre>src/
├── _partials/
│   └── navbar.html
├── _templates/
│   └── base.html
└── index.html</pre>
    <p>The names of these directories are arbitrary; use whatever names you prefer.</p>
    <p>Inside HTML files, the templates and partials are referenced relative to the input directory, as in "_partials/navbar.html" and "_templates/base.html".</p>
{% endblock %}