{% extends "base.html" %}
{% block content %}
    <h1>Welcome to the <em>Simplest</em> Example Site</h1>
    <p>This site uses one base template (base.html) and one partial (navbar.html). The home page, index.html, extends the base template and includes the navbar partial.</p>
    <pre>src/
├── base.html
├── index.html
└── navbar.html</pre>
    <p>No special folders e.g., "_layouts", "_partials", etc. are used.</p>
    <p>Inside HTML files, the templates and partials are referenced relative to the input directory, as in "navbar.html" and "base.html"</p>
{% endblock %}